PORT=3000
POSTGRES_DB=central_office
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
DATABASE_URL=postgresql://user:password@localhost:5432/central_office?schema=public
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
SHOP_JWT_ACCESS_SECRET=shop-access-secret
SHOP_JWT_REFRESH_SECRET=shop-refresh-secret
ROOT_EMAIL=root@example.com
ROOT_PASSWORD=root-password
